<section class="prose">
  <h1>Log In</h1>
  <p class="lead">Enter your credentials to access the portal.</p>

  <% if flash[:alert].present? %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% elsif flash[:notice].present? %>
    <p class="flash notice"><%= flash[:notice] %></p>
  <% end %>

  <%= form_with url: login_path, method: :post, class: "stack" do |form| %>
    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true, autofocus: true %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <%= form.submit "Log In" %>
  <% end %>

  <% if User.none? %>
    <p class="mt">Need an account? <%= link_to "Create the first user", new_user_path %>.</p>
  <% end %>
</section>
