<% first_account = User.none? %>

<section class="prose">
  <h1><%= first_account ? "Create the First Account" : "Add a Teammate" %></h1>
  <p class="lead">
    <%= first_account ? "Set up the initial user so you can sign in to the portal." : "Invite another planner or teammate to Pineapple Portal." %>
  </p>

  <% if flash[:alert].present? %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% end %>

  <%= render "form", user: @user, first_account: first_account, allow_role_select: (current_user&.admin? || first_account), submit_label: (first_account ? "Create Account" : "Invite Teammate"), require_password: true %>

  <% unless first_account %>
    <p>
      Need to change roles? Only admins can adjust them.
    </p>
  <% end %>

  <% if first_account %>
    <p>
      Already have access?
      <%= link_to "Log in", login_path %>.
    </p>
  <% end %>
</section>
