<section class="prose">
  <h1>Create the First Account</h1>
  <p class="lead">Set up the initial user so you can sign in to the portal.</p>

  <% if flash[:alert].present? %>
    <p class="flash alert"><%= flash[:alert] %></p>
  <% end %>

  <%= form_with model: @user, url: users_path, class: "stack" do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name, required: true %>
    </div>

    <div>
      <%= form.label :email %>
      <%= form.email_field :email, required: true %>
    </div>

    <div>
      <%= form.label :password %>
      <%= form.password_field :password, required: true %>
    </div>

    <div>
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true %>
    </div>

    <%= form.submit "Create Account" %>
  <% end %>

  <p>
    Already have access?
    <%= link_to "Log in", login_path %>.
  </p>
</section>
