<aside class="event-sidebar">
  <div class="event-sidebar__brand">
    <%= link_to root_path, class: "event-sidebar__brand-link" do %>
      <span class="event-sidebar__brand-top">Pineapple</span>
      <span class="event-sidebar__brand-bottom">Productions</span>
    <% end %>
  </div>

  <nav class="event-sidebar__nav event-sidebar__nav--secondary event-sidebar__nav--index">
    <ul>
      <li><%= link_to "Events", events_path, class: "event-sidebar__link" %></li>
      <li><%= link_to "Documents", "#", class: "event-sidebar__link event-sidebar__link--stub" %></li>
      <li><%= link_to "Templates", questionnaire_templates_path, class: "event-sidebar__link" %></li>
      <li><%= link_to "Settings", settings_path, class: "event-sidebar__link" %></li>
    </ul>
  </nav>

  <footer class="event-sidebar__footer" aria-label="Account navigation">
    <%= link_to "Home", events_path, class: "event-sidebar__footer-button" %>

    <% if logged_in? %>
      <%= button_to "Log Out", logout_path,
                    method: :delete,
                    class: "event-sidebar__footer-button",
                    data: { turbo_method: :delete },
                    form: { data: { turbo: true } } %>
    <% else %>
      <%= link_to "Log In", login_path, class: "event-sidebar__footer-button" %>
    <% end %>
  </footer>
</aside>
