<% provide :page_shell do %>
  <div class="event-layout">
    <%= render "events/sidebar_navigation", event: @event %>

    <div class="event-layout__main">
      <%= render "shared/flash" %>

      <% event_date = @event.starts_on || @event.ends_on %>
      <% formatted_event_date = event_date&.strftime("%B %-d, %Y") %>
      <section class="event-hero">
        <div class="event-hero__corner event-hero__corner--top-left">
          <p class="event-hero__location"><%= @event.location.presence || "Location TBD" %></p>
          <% if @event.location_secondary.present? %>
            <p class="event-hero__location"><%= @event.location_secondary %></p>
          <% end %>
        </div>

        <div class="event-hero__corner event-hero__corner--top-right">
          <p class="event-hero__date-primary"><%= formatted_event_date || "Date TBD" %></p>
        </div>

        <div class="event-hero__center">
          <h1 class="event-hero__title"><%= @event.name %></h1>
        </div>

      </section>

      <section class="event-links">
        <h2 class="event-links__title">Event Links</h2>
        <div class="event-links__button-grid">
          <%= link_to "Run of Show", event_calendar_path(@event), class: "event-links__button" %>
          <%= link_to "Packets", event_documents_generated_index_path(@event), class: "event-links__button" %>
          <%= link_to "Client Portal", client_event_path(@event.portal_slug.presence || @event.id), class: "event-links__button" %>
          <%= link_to "Event Settings", event_settings_path(@event), class: "event-links__button" %>
          <% @internal_event_links.each do |link| %>
            <%= link_to link.label, link.url, class: "event-links__button" %>
          <% end %>
        </div>
      </section>
    </div>
  </div>
<% end %>
